body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}

h1 {
    margin-top: 20px;
}

#mode-selection button, #restart-btn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid #333;
    cursor: pointer;
}

    .cell.taken {
        cursor: not-allowed;
        color: #333;
    }

.win {
    background-color: lightgreen;
}
